* {
    box-sizing: border-box;
  }

  .search-bar {
    width: 75%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    position:relative;
    margin-top: 2rem;
  }
  
  
  .column, .column1, .column2 {
    padding: 10px;
    border:none;
    border-color: transparent;
    outline: none;
    font-family: inherit;
  }

  .column {
    width: 15%;
    box-shadow: 2px 1px 3px 3px rgba(204, 204, 204, 0.4);
  }

  .column1 {
    width: 25%;
    box-shadow: 2px 1px 3px 3px rgba(204, 204, 204, 0.4);
    border-radius: 3px 0 0 3px;
  }

  .column2 {
    width: 30%;
    box-shadow: 2px -1px 3px 3px rgba(204, 204, 204, 0.4);
    border-radius: 0 3px 3px 0;
  }

  ::placeholder { 
    color: #333;
    opacity: 1; 
  }
  
  :-ms-input-placeholder { 
    color: #333;
  }
  
  ::-ms-input-placeholder { 
    color: #333;
  }

  .search-bar button {
    background:#20E3B2;
    color:white;
    border: none;
    outline: none;
    position:absolute;
    right: 7.6%;
    top: 4%;
    height:30px;
    width:80px;
    text-align:center;
    font-weight:bold;
    padding:2px;
    border-radius: 3px;
  }
  button:hover{
    cursor:pointer;
  }

  .search-bar button img {
    width: 25px;
    height: 12px;
    padding-right: 5px;
    padding-top: 2px;
  }
  

  /*===============Media Queries================*/
 
  @media only screen and (max-width: 767px) {
    .search-bar {
      flex-direction:column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .column, .column1, .column2 {
      width: 50%;
      float: left;
      padding: 10px;
    }
    .search-bar button {
      top: 9rem;
      left: 42%;
    }
}


/* @media only screen and (min-width: 600px) {
  body {
      font-size: 18px;
  }
  .search-bar {
    width: 80%;
    top: 35rem;
}

} */
  
  /* @media only screen and (min-width: 1024px) {
      body {
          font-size: 18px;
      }
      .row {
          padding: 0.2%;
      }

      .search-bar {
          width: 90%;
          top: 43rem;
          padding: 0.2%;
      }
  } */

  